$black: #ad509b;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron {
	background-color: $black;
	color: white;
	@include margenes(50px, 0px);
}


.btn{
	background-color:green; 
	color: white;
}

.footer {
	padding: 10px 10px 0 10px;
	background-color: green;
	@include margenes(10px, 0px);
}

.cardbook {
	flex: 1 150px;
	padding: 2px 5px 2px 5px;
	@include margenes(50px, 0px);
	background-color: gray;
	color: white;
}

.btn-one {
	background-color:$black; 
	color: white;
	width: 100%;
	border-color:white;
	
	}
.card-deck {
	margin-left: 5px;
	margin-right: 5px;
	}
.cabeca {
margin-left: 5px;
}
.card-link {
	color: $black;
	
}
