@black: #32a871;

.margenes(@top: 0px, @bottom:0px){
	margin-top: @top;
	margin-bottom: @bottom;
}


.jumbotron {
	background-color: @black;
	color: white;
	.margenes(50px,0px);
	
}


.btn{
	background-color:green; 
	color: white;
	.margenes(10px,0px);
	
}

.footer {
	padding: 10px 10px 0 10px;
	background-color: green;
	.margenes(10px,0px);
	
}

.cardbook {
	flex: 1 150px;
	padding: 2px 5px 2px 5px;
	.margenes(10px, 0px);
	background-color: gray;
	color: white;
}

.btn-one {
	background-color:@black; 
	color: white;
	width: 100%;
	border-color:white;
	
	}
.card-deck {
	margin-left: 5px;
	margin-right: 5px;
	}
.cabeca {
margin-left: 5px;
}
.card-link {
	color: @black;
	
}
