.jumbotron {
  background-color: #525d63;
  color: white;
  margin-top: 50px;
  margin-bottom: 0px;
}
.btn {
  background-color: green;
  color: white;
  margin-top: 10px;
  margin-bottom: 0px;
}
.footer {
  padding: 10px 10px 0 10px;
  background-color: green;
  margin-top: 10px;
  margin-bottom: 0px;
}
.cardbook {
  flex: 1 150px;
  padding: 2px 5px 2px 5px;
  margin-top: 10px;
  margin-bottom: 0px;
  background-color: gray;
  color: white;
}
.btn-one {
  background-color: #525d63;
  color: white;
  width: 100%;
  border-color: white;
}
.card-deck {
  margin-left: 5px;
  margin-right: 5px;
}
.cabeca {
  margin-left: 5px;
}
.card-link {
  color: #525d63;
}
